/*
* @Author: Jingyuexing
* @Date:   2019-05-04 07:38:45
* @Last Modified by:   Jingyuexing
* @Last Modified time: 2019-05-04 07:38:47
*/
*{
	margin:0;
	padding:0;
}
body{
	background-color:#fefefe;
}
.main{
	margin:0 auto;
	width:80%;
}
.head{
	display: flex;
}