/*
* @Author: Jingyuexing
* @Date:   2019-05-04 07:38:45
* @Last Modified by:   Jingyuexing
* @Last Modified time: 2019-05-05 22:35:18
*/
*{
	margin:0;
	padding:0;
}
body{
	background-color:#fefefe;
}
.main{
	margin:0 auto;
	width:80%;
}
.head{
	display: flex;
}
.status{
	width: 80%;
	text-align: center;
}
.status > .text{
	font-size: 2em;
}
.banner{
	
}
