<div class="kind">
    <!-- <div class="reset" ng-click="reset()">重置</div> -->
    <div class="capsule" ng-repeat="item in list" ng-click="reset();$event.stopPropagation();">
        <div class="icon material-icons" style="line-height:60px;">
            timeline
        </div>
        <div class="box">
            <div class="title">
                <a href="{{item.link}}" target="_blank">
                    {{item.name}}
                </a>
            </div>
            <div class="tags">
                <div class="tag" ng-click="tagClick();$event.stopPropagation();" ng-repeat="tag in item.tag">
                    {{tag}}
                </div>
            </div>
        </div>
    </div>
</div>